* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  color: blue;
}

.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.stepper-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.step-number {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 50%;
  position: relative;
}

.step-line {
  height: 2rem;
  width: 2px;
  background-color: grey;
  align-self: flex-end;
  position: absolute;
  bottom: -2rem;
}

.active {
  background-color: #017bfe;
}
